.container {
	padding-top: 40px
}
.title {
	padding-top: 20px;
	padding-bottom: 40px;
	background-color: #8e44ad;
	color: white;
	font-family: Lato;
}

.panel {
	margin-top: 20px
}

.listName {
	outline: 0;
	border: 0px;
	text-align: center
}

.links {
	padding-top: 20px
}