[name=linkItem]{
    border:none;
    font-family: "Times New Roman";
    font-size: 100%;
    padding:0.15em;
}

[name=linkItem]:hover{
    background-color: #f9f9f9;
    cursor:pointer;
}

[name=linkItem]:focus{
    background-color: #f9f9f9;
    cursor:default;
    outline:none;
}